<!--
Author: Daniel Knoll
Date:   2/3/2023
Desc:   app1 view of the job application website
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Job Application</title>
</head>
<body>
<div class="container">
    <div class="nav row">
        <div class="leftNav col-7">
            <a href="/328/application"><h1>Coding Company XYZ</h1>
                <h2>Software Developer</h2></a>
        </div>
        <div class="rightNav col-5 text-end">

        </div>
    </div> <!-- end nav -->
    <form action="#" method="post" class="form-horizontal">
    <div class="main row">
        <div class="col-8">
            <h4>Experience</h4>
            <hr>
                <label for="biography" class="col-sm-4 control-label">Biography</label>
                <input class="form-control" type="text" name="biography" id="biography" value="">

        </div>
        <div class="col-4 form-group">
            <label for="github" class="col-sm-4 control-label">Github Link</label>
            <input class="form-control" type="text" name="github" id="github" value="">

            <label class="control-label">Years Experience</label><br>
            <div class="row">
                <div class="col-4">
                    <label><input type="radio" name="years" id="0-2" value="0-2"> 0-2 </label>
                </div>
                <div class="col-4">
                    <label><input type="radio" name="years" id="2-4" value="2-4"> 2-4 </label>
                </div>
                <div class="col-4">
                    <label><input type="radio" name="years" id="4+" value="4+"> 4+ </label>
                </div>
            </div>
            <label class="control-label">Willing to Relocate</label><br>
            <div class="row">
                <div class="col-4">
                    <label><input type="radio" name="relocate" id="Yes" value="Yes"> Yes </label>
                </div>
                <div class="col-4">
                    <label><input type="radio" name="relocate" id="No" value="No"> No </label>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-block">Next ></button>

            </div>
        </div>
    </div></form>
</div></body>
</html>