body {
    font-family: "Arial", "Times New Roman";
}

.main {
    background-color:whitesmoke;
}

h3 {
    text-align: center;
}

.quote {
    font-style: italic;
}
.quotebox {
    margin-left: 20px;
}