body {
    font-family: "Arial", "Times New Roman";
}

.main {
    background-color:whitesmoke;
    padding-bottom:10px;
}

h3 {
    text-align: center;
}

h4 {
    size:30px;
    font-family: "Arial Black";
}

.textfield {
    height: 50px;
}

.privacyPolicy {
    background-color: gray;
    padding: 15px;
    margin: 5px;
}

.quote {
    font-style: italic;
}
.quotebox {
    margin-left: 20px;
}

.navlink {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: gray;
}