.btn-primary {
    background-color: rebeccapurple;
    padding: 16px;
}

p {
    color: black;
}

.imgstd {
    width: 33%;
}

h5 {
    color: red;
}

h4 {
    color: skyblue;
}

h3 {
    color: blue;
}

h2 {
    color: green;
}

h1 {
    color: silver;
}